
div {
	
	margin-left: auto;
	margin-right: auto;
}

.kostya {
	
	display:flex;
	flex-direction:row;
}

@media (min-width: 1920px) {
	
.blue {
	background-color: #A1ECD8;
	
	height: 840px;
	width: 840px;
	
	margin-left: 70px;
	
	margin-top: 40px;
	
	margin-right: 40px;
}
.green {
	background-color: #7BBF71;
	
	height: 840px;
	width: 420px;
	
	margin-top: 40px;
	
	margin-right: 40px;
}

.red {
	background-color: #CC7F62;
	
	height: 840px;
	width: 420px;
	
	margin-top: 40px;
}

}


@media (min-width: 1366px) and (max-width: 1919px) {
	
.blue {
	background-color: #A1ECD8;
	
	height: 960px;
	width: 720px;
	
	margin-left: 70px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 15px;
}

.green {
	background-color: #7BBF71;
	
	height: 960px;
	width: 240px;
	
	margin-left: 15px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 15px;
}

.red {
	background-color: #CC7F62;
	
	height: 960px;
	width: 240px;
	
	margin-left: 15px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 70px;
}

}


@media (min-width: 1280px) and (max-width: 1365px)  {
	
.blue {
	background-color: #A1ECD8;
	
	height: 840px;
	width: 840px;
	
	margin-left: 70px;
	
	margin-top: 40px;
	
	margin-right: 40px;
}
.green {
	background-color: #7BBF71;
	
	height: 840px;
	width: 420px;
	
	margin-top: 40px;
	
	margin-right: 40px;
}

.red {
	background-color: #CC7F62;
	
	height: 840px;
	width: 420px;
	
	margin-top: 40px;
}

}


@media (min-width: 768px) and (max-width: 1279px) {
	
.blue {
	background-color: #A1ECD8;
	
	height: 960px;
	width: 640px;
	
	margin-left: 64px;
	margin-top: 60px;
	margin-bottom: 20px;
	margin-right: 64px;
}

.green {
	background-color: #7BBF71;
	
	height: 960px;
	width: 320px;
	
	margin-left: 64px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.red {
	background-color: #CC7F62;
	
	height: 960px;
	width: 320px;
	
	margin-top: 20px;
	margin-bottom: 60px;
	margin-right: 64px;
}

}