.blue {
	background-color: #A1ECD8;
	
	height: 960px;
	width: 960px;
	
	margin-left: 50px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 50px;
}

.green {
	background-color: #7BBF71;
	
	height: 960px;
	width: 360px;
	
	margin-left: 50px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 50px;
}

.red {
	background-color: #CC7F62;
	
	height: 960px;
	width: 360px;
	
	margin-left: 50px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 50px;
}